@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Apply styles */
  body {
  margin: 0;
  padding: 0;
}


